$content-font: 'Manrope', sans-serif;
$default-color: #17181D;
$base-color: #fff;
$default-color-dark: #414260;
$main-color-accent: #7E0FEC; 

$darker-background-color: #101118;

$background-color-accent: #F5F5FB;
$dark-main-color-accent: #1F1F28;
$background-dark-color-accent: #EBEDF6;

$soft-content-text-color: #242531;
$content-text-color: #53576e;

$primary-red-color: #FF4921;
$primary-orange-color: #D6843B;
$primary-green-color: #76D73C;

$default-border-radius: 8px;
$default-small-border-radius: 4px;